:root {
    --background-color: #ffffff;
    --foreground-color: #333333;

    --muted-color: #f2f2f2;
    --muted-foreground-color: #888888;

    --popover-color: #ffffff;
    --popover-foreground-color: #333333;

    --card-color: #ffffff;
    --card-foreground-color: #333333;

    --border-color: #dddddd;
    --input-color: #dddddd;

    --primary-color: #333333;
    --primary-foreground-color: #fafafa;

    --secondary-color: #f2f2f2;
    --secondary-foreground-color: #333333;

    --accent-color: #f2f2f2;
    --accent-foreground-color: #333333;

    --destructive-color: #ff0000;
    --destructive-foreground-color: #fafafa;

    --ring-color: #cccccc;

    --border-radius: 0.5rem;
}

body {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-feature-settings: 'rlig' 1, 'calt' 1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 4px;
}

@keyframes left-bounce {
    0%, 100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes right-bounce {
    0%, 100% {
        transform: translateX(25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-left-bounce {
    animation: left-bounce 1s infinite;
}

.animate-right-bounce {
    animation: right-bounce 1s infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-flow {
    background-image: linear-gradient(to right, #38b2ac, #3b82f6, #9333ea);
    background-size: 200% 100%;
    animation: gradient-flow 2s ease infinite;
}
